In [16]:
import pandas as pd
import geopandas as gpd
import GOSTnets as gn
import time
import logging

In [17]:
logging.basicConfig(level=logging.INFO,
                    format='%(asctime)s :: %(levelname)s :: %(name)s :: %(process)d :: %(message)s',
                    datefmt='%Y-%m-%d %H:%M:%S')
logger = logging.getLogger('MAIN')

In [21]:
%%time
grafotransporte_nodes = pd.read_csv("rutas/GrafoTransporte_nodes.csv")
gs = gpd.GeoSeries.from_wkt(grafotransporte_nodes['geometry'])
grafotransporte_nodes = gpd.GeoDataFrame(grafotransporte_nodes, geometry=gs).set_index('osmid')
logger.info("Loading GrafoTransporte_nodes")
grafotransporte_nodes.head()

2022-07-12 22:30:12 :: INFO :: MAIN :: 16570 :: Loading GrafoTransporte_nodes

CPU times: user 42.2 ms, sys: 4.46 ms, total: 46.7 ms
Wall time: 45.4 ms

,y,x,street_count,highway,ref,geometry
osmid,,,,,,
1746796546,-12.044960,-76.979237,4,NaN,NaN,POINT (-76.97924 -12.04496)
4284776453,-12.200702,-77.019886,4,NaN,NaN,POINT (-77.01989 -12.20070)
4200497160,-12.062238,-77.094624,3,NaN,NaN,POINT (-77.09462 -12.06224)
5497389066,-12.023795,-76.809376,3,NaN,NaN,POINT (-76.80938 -12.02379)
1746796556,-12.045230,-76.974936,4,NaN,NaN,POINT (-76.97494 -12.04523)

In [6]:
%%time
amenities = pd.read_csv("LimaOSM/LimaAmenities.csv")
gs = gpd.GeoSeries.from_wkt(amenities['geometry'])
amenities = gpd.GeoDataFrame(amenities, geometry=gs).set_index('osmid')
logger.info("Loading LimaAmenities")

amenities.head()

<string>:2: DtypeWarning: Columns (5,6,7,11,12,13,14,16,17,18,19,20,21,23,24,25,26,27,29,30,31,34,43,44,45,46,47,48,49,50,51,52,53,54,55,59,60,61,62,63,64,65,66,67,68,69,70,71,72,74,75,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,103,104,105,106,107,108,109,110,111,112,114,115,116,117,118,119,120,121,122,123,124,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,254,255,256,257,258,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,287,288,289,290,291,292,293,295,296,299,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,322,323,324,325,326,327,328,329) have mixed types.Specify dtype option on import or set low_memory=False.

CPU times: user 1.14 s, sys: 257 ms, total: 1.39 s
Wall time: 1.39 s

,unique_id,element_type,amenity,geometry_polygon,fee,wheelchair,wheelchair:description,addr:city,addr:housenumber,addr:street,...,trolleybus,allotments,name:it,wikipedia:en,wikipedia:pl,wikipedia:sv,diesel,shortest_name,isPoint,geometry
osmid,,,,,,,,,,,,,,,,,,,,,
1706421372,node/1706421372,node,bus_station,POINT (-76.90808560000001 -12.2550125),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,POINT (-76.90809 -12.25501)
1909452321,node/1909452321,node,toilets,POINT (-76.9071656 -12.2558628),no,no,No hay baño para silla de ruedas y encima tien...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,POINT (-76.90717 -12.25586)
1932465988,node/1932465988,node,townhall,POINT (-76.7734648 -12.4016275),NaN,NaN,NaN,Santa María del Mar,100,El Sardinero,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,POINT (-76.77346 -12.40163)
2477708419,node/2477708419,node,restaurant,POINT (-76.8284223 -12.3324731),NaN,limited,Tiene baño para silla de ruedas y buena atencion,NaN,NaN,Calle Malecón Norte,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,POINT (-76.82842 -12.33247)
2477757589,node/2477757589,node,restaurant,POINT (-76.8235383 -12.3382439),NaN,limited,No se si tiene baño para silla de ruedas,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,POINT (-76.82354 -12.33824)

In [53]:
hospital = pd.read_csv("LimaOSM/HospitalsOSM.csv")
gs = gpd.GeoSeries.from_wkt(hospital['geometry'])
hospital = gpd.GeoDataFrame(hospital, geometry=gs).set_index('osmid')

hospital['geometry'] = hospital.apply(lambda x: x['geometry'].centroid, axis=1)
hospital.head()

,osm_type,amenity,operator,name,geometry,element_type
osmid,,,,,,
338350659,way,hospital,MINSA,Instituto Nacioanal de Enfermedades Neoplásicas,POINT (-76.99853 -12.11259),NaN
6852754574,node,hospital,Gobierno Regional,Nac. Daniel A. Carrion,POINT (-77.12481 -12.06379),NaN
604765913,way,hospital,Municipalidad Metropolitana de Lima,SISOL Salud Amancaes,POINT (-77.03014 -12.01711),NaN
1846294778,node,hospital,NaN,Centro de Salud Bahia Blanca,POINT (-77.15870 -11.83530),NaN
431592740,way,hospital,ESSALUD,Hospital III Suarez Angamos,POINT (-77.02814 -12.11332),NaN

In [55]:
# hospital.plot()

In [56]:
# amenities_filter = ['bank','casino','clinic','courthouse','hospital','marketplace', 'police','school','university']
AMENITY_NAME = 'hospital'

mask = [AMENITY_NAME]
# amenity = amenities.query('amenity in @mask')
amenity = hospital.query('amenity in @mask')
amenity.head()

,osm_type,amenity,operator,name,geometry,element_type
osmid,,,,,,
338350659,way,hospital,MINSA,Instituto Nacioanal de Enfermedades Neoplásicas,POINT (-76.99853 -12.11259),NaN
6852754574,node,hospital,Gobierno Regional,Nac. Daniel A. Carrion,POINT (-77.12481 -12.06379),NaN
604765913,way,hospital,Municipalidad Metropolitana de Lima,SISOL Salud Amancaes,POINT (-77.03014 -12.01711),NaN
1846294778,node,hospital,NaN,Centro de Salud Bahia Blanca,POINT (-77.15870 -11.83530),NaN
431592740,way,hospital,ESSALUD,Hospital III Suarez Angamos,POINT (-77.02814 -12.11332),NaN

In [57]:
%%time

start = time.time()
logger.info("Snap process begin")

pandana = gn.pandana_snap_points( grafotransporte_nodes , amenity )

logger.info("Process finished in %.3f seconds", time.time() - start)

2022-07-13 12:52:40 :: INFO :: MAIN :: 16570 :: Snap process begin
/home/leibnitz.rojas/.local/lib/python3.6/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))
/home/leibnitz.rojas/.local/lib/python3.6/site-packages/pyproj/crs/crs.py:294: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  projstring = _prepare_from_string(" ".join((projstring, projkwargs)))
/home/leibnitz.rojas/.local/lib/python3.6/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))
/home/leibnitz.rojas/.local/lib/python3.6/site-packages/pyproj/crs/crs.py:294: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  projstring = _prepare_from_string(" ".join((projstring, projkwargs)))
2022-07-13 13:12:35 :: INFO :: MAIN :: 16570 :: Process finished in 1195.857 seconds

CPU times: user 19min 38s, sys: 17.6 s, total: 19min 55s
Wall time: 19min 55s

In [58]:
%%time

amenityid = "{}_osmid".format(AMENITY_NAME)
amenitydist = "{}_dist".format(AMENITY_NAME)
amenityid, amenitydist
pandana.rename(columns={'NN':amenityid, 'NN_dist': amenitydist}, inplace=True)
pandana.head()

CPU times: user 1.28 ms, sys: 0 ns, total: 1.28 ms
Wall time: 1.22 ms

,street_count,highway,ref,geometry,hospital_osmid,hospital_dist
osmid,,,,,,
1746796546,4,NaN,NaN,POINT (-76.97924 -12.04496),468556938,0.006811
4284776453,4,NaN,NaN,POINT (-77.01989 -12.20070),442795790,0.018631
4200497160,3,NaN,NaN,POINT (-77.09462 -12.06224),780622087,0.003405
5497389066,3,NaN,NaN,POINT (-76.80938 -12.02379),320125239,0.013721
1746796556,4,NaN,NaN,POINT (-76.97494 -12.04523),456121389,0.007246

In [59]:
%%time
filename = "rutas/GrafoTransporteNodes_{}.csv".format(AMENITY_NAME.capitalize())
filename
pandana.to_csv(filename)

CPU times: user 856 ms, sys: 0 ns, total: 856 ms
Wall time: 856 ms